#title{
    background-color: #ff4c68;
}

h1 {  font-family: 'Montserrat';  
    font-size: 3.5rem; 
    line-height: 1.5; 
    font-weight: 900;
    color: #fff;
    
    }

    .container-fluid{
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 15%;
        padding-right: 15%;
    }

    

        .rotateMobile{
        transform:rotate(40deg);
        -ms-transform:rotate(40deg); /* IE 9 */
        -moz-transform:rotate(40deg); /* Firefox */
        -webkit-transform:rotate(40deg); /* Safari and Chrome */
        -o-transform:rotate(40deg); /* Opera */
        }
        
        .body{
            font-family: 'Montserrat'; 
        }

        .navbar-brand{
            font-family: "Ubuntu";
            font-weight: bold;
            font-size: 2.5rem;
           
        }
        .navbar{
            padding: 0 0 4.5rem;
        }
        .nav-item{
            padding: 0 18px;
        }
        .nav-link{
            font-size: 1.2rem;
            font-family: 'Montserrat-Light';

        }

        .downlod{
            margin: 5% 3% 5% 0 ;
        }
        .title-image{
            width: 60%; 
            position: absolute;
            right: 10%;
            
        }
       .color{
           color:#ef8172 ;
           
             
       }
       .container{
           text-align: center;
           padding-top: 15%;
           padding-bottom: 15%;
         
       }
   .heading-3{
    font-family: 'Montserrat';

    font-weight: 600;
  
    font-size: 1.5rem;
   }

   .paragraph{
       line-height: 2;
       color: #8f8f8f ;
       
   }
.icon:hover{
    color: #ff4c68;
}
#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

h2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}
.carousel-item{
    padding: 7% 15% ;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding-left:  2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}
#features{
    background-color: #fff;
    position: relative;
    
}
.custom{
    position: relative;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
   .title-image{
       position: static;
       transform: rotate(0);
   }
}

#cta{
    text-align: center;
    background-color:#ff4c68; 
    padding-top: 10%;

}

h3{
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 2;
}

#footer{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 15%;
    padding-left: 15%;
}

.icon{
    margin-right: 10px;
    padding-bottom: 3%;
}

.p{
    color: rgb(151, 150, 150)
}